@model CategoryViewModel

<div class="container">
    <form asp-action="EditCategories" method="post" id="form">
        <div class="row">
            <h3>Добавление/редактирование категории</h3>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="Category.CategoryName">Название категории</label>
            </div>
            <div class="col-6">
                <input id="category" type="text" asp-for="Category.CategoryName">
                <span asp-validation-for="Category.CategoryName" class="error"></span>
            </div>
            <input id="id" type="hidden" asp-for="Category.Id" value="11111111-1111-1111-1111-111111111111">
        </div>
        <div class="row">
            <button type="submit" class="">Отправить</button>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        <h3>Список категорий</h3>
    </div>
    <div class="row">
        <table class="list">
            <thead>
                <tr>
                    <th>Название категории</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Categories != null)
                {
                    foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td id="category">@item.CategoryName</td>
                            <td><a onclick="editCategory.call(this)">Изменить</a></td>
                            <td><a onclick="removeCategory.call(this)">Удалить</a></td>
                            <td class="hide" id="id">@item.Id</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        @for (int i = 1; i <= Model.PageModel.TotalPages; i++)
        {
            if (i == Model.PageModel.PageNumber)
            {
                <a class="active">@i</a>
            }
            else
            {
                <a asp-action="EditNews" asp-route-page="@i">@i</a>
            }
        }
    </div>
</div>
