@model List<Category>
<section id="slideshow-min">
    <div class="container">
        <div class="row text-center">
            <h2>Галерея</h2>
        </div>
        <div class="slideshow-container-min">
            @foreach (var category in Model)
            {
                 <img src="@category.Products.FirstOrDefault().Image" data-slideshow="
                 @foreach(var product in category.Products)
                 {
                     if(product == category.Products.FirstOrDefault())
                     {
                         @product.Image;
                     }
                     else
                     {
                         @string.Concat("|", product.Image);
                     }
                  }
                  ">
            }
        </div>
    </div>
</section>
<section id="menu">
    <div class="container">
        @foreach (var category in Model)
        {
            <div class="row text-center">
                <h2>@category.CategoryName</h2>
            </div>
            <div class="products-grid">
                @foreach (var product in category.Products)
                {
                    <div class="product">
                        <div class="product-img">
                            <img src="@product.Image" alt="@product.Title">
                        </div>
                        <div class="product-title">
                            <span class="title">@product.Title</span>
                        </div>
                        <div class="product-cost">
                            <span class="cost">@product.Cost ₽</span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>
