@model OrderTableViewModel
<div class="container">
    <form asp-action="EditOrders" method="post" id="form">
        <div class="row">
            <h3>Редактирование заказа столика</h3>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="OrderTable.RestaurantId"></label>
            </div>
            <div class="col-6">
                <select class="input-select" asp-for="OrderTable.RestaurantId" asp-items="ViewBag.Restaurants" id="restaurant">
                    <option disabled selected>Выберите ресторан</option>
                </select>
                <span asp-validation-for="OrderTable.RestaurantId" class="error"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="OrderTable.Date"></label>
            </div>
            <div class="col-6">
                <input id="date" type="text" asp-for="OrderTable.Date" value="@DateTime.Now.ToShortDateString()">
                <span asp-validation-for="OrderTable.Date" class="error"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="OrderTable.ClientName"></label>
            </div>
            <div class="col-6">
                <input required id="fio" type="text" asp-for="OrderTable.ClientName">
                <span asp-validation-for="OrderTable.ClientName" class="error"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="OrderTable.ClientPhone"></label>
            </div>
            <div class="col-6">
                <input required id="phone" type="text" asp-for="OrderTable.ClientPhone">
                <span asp-validation-for="OrderTable.ClientPhone" class="error"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="OrderTable.CountGuest"></label>
            </div>
            <div class="col-6">
                <input required id="guests" type="text" asp-for="OrderTable.CountGuest">
                <span asp-validation-for="OrderTable.CountGuest" class="error"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label asp-for="OrderTable.Description"></label>
            </div>
            <div class="col-6">
                <textarea id="content-editor" class="ckeditor" name="editor1" cols="80" rows="10"></textarea>
                <a class="button" onclick="saveContent()">Сохранить содержимое</a>
            </div>
            <input id="id" type="hidden" asp-for="OrderTable.Id" value="11111111-1111-1111-1111-111111111111">
            <textarea class="hide" id="content" asp-for="OrderTable.Description"></textarea>
        </div>
        <div class="row">
            <button type="submit" class="">Отправить</button>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        <h3>Список заказов столика</h3>
    </div>
    <div class="row">
        <table class="list">
            <thead>
                <tr>
                    <th>Ресторан</th>
                    <th>Дата заказа</th>
                    <th>ФИО заказчика</th>
                    <th>Номер телефона</th>
                    <th>Кол-во гостей</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TableOrders != null)
                {
                    foreach (var item in Model.TableOrders)
                    {
                        <tr>
                            <td id="restaurant-name">@item.Restaurant.Title</td>
                            <td id="date">@item.Date</td>
                            <td id="fio">@item.ClientName</td>
                            <td id="phone">@item.ClientPhone</td>
                            <td id="guests">@item.CountGuest</td>
                            <td><a onclick="editTableOrder.call(this)">Изменить</a></td>
                            <td><a onclick="removeTableOrder.call(this)">Удалить</a></td>
                            <td id="content" class="hide">@item.Description</td>
                            <td id="id" class="hide">@item.Id</td>
                            <td id="restaurant" class="hide">@item.RestaurantId</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        <a class="active">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
    </div>
</div>
