@model ReviewViewModel
<div class="container">
    <div class="row">
        <h3>Список отзывов</h3>
    </div>
    <div class="row">
        <table class="list">
            <thead>
                <tr>
                    <th>Имя создателя</th>
                    <th>Дата добавления</th>
                    <th>Тело отзыва</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Reviews != null)
                {
                    foreach (var item in Model.Reviews)
                    {
                        <tr>
                            <td id="creatorName">@item.CreatorName</td>
                            <td id="date">@item.Date</td>
                            <td id="content">@item.Content</td>
                            <td><a onclick="removeReview.call(this)">Удалить</a></td>
                            <td class="hide" id="id">@item.Id</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="row text-center">
        @for (int i = 1; i <= Model.PageModel.TotalPages; i++)
        {
            if (i == Model.PageModel.PageNumber)
            {
                <a class="active">@i</a>
            }
            else
            {
                <a asp-action="EditReviews" asp-route-page="@i">@i</a>
            }
        }
    </div>
</div>
