@model AboutRestaurantViewModel
<section id="restaurants">
    <div class="container">
        <div class="row text-center">
            <h2>Наши рестораны</h2>
        </div>
        <div class="restaurant-grid">
            @foreach (var item in Model.Restaurants)
            {
                <div class="item text-center">
                    <img src="@item.Image" alt="@item.Title">
                    <h3>@item.Title</h3>
                    <p>@item.Adress</p>
                </div>
            }
        </div>
    </div>
</section>
<section class="paginator">
    <div class="container">
        <div class="text-center">
            @if (Model.PageModel.PageNumber == 1)
            {
                if (Model.PageModel.TotalPages > 2)
                {
                    <a class="active">1</a>
                    <a asp-action="Restaurants" asp-route-page="2">2</a>
                    <span>...</span>
                    <a asp-action="Restaurants" asp-route-page="@Model.PageModel.TotalPages">@Model.PageModel.TotalPages</a>
                }
                else
                {
                    if (Model.PageModel.TotalPages == 2)
                    {
                        <a class="active">1</a>
                        <a asp-action="Restaurants" asp-route-page="2">2</a>
                    }
                    else
                    {
                        if (Model.PageModel.TotalPages == 1)
                        {
                            <a class="active">1</a>
                        }
                    }
                }
            }
            else
            {
                if (Model.PageModel.PageNumber == 2)
                {
                    if (Model.PageModel.TotalPages > 3)
                    {
                        <a asp-action="Restaurants" asp-route-page="1">1</a>
                        <a class="active">2</a>
                        <a asp-action="Restaurants" asp-route-page="3">3</a>
                        <span>...</span>
                        <a asp-action="Restaurants" asp-route-page="@Model.PageModel.TotalPages">@Model.PageModel.TotalPages</a>
                    }
                    else
                    {
                        if (Model.PageModel.TotalPages == 3)
                        {
                            <a asp-action="Restaurants" asp-route-page="1">1</a>
                            <a class="active">2</a>
                            <a asp-action="Restaurants" asp-route-page="3">3</a>
                        }
                        else
                        {
                            if (Model.PageModel.TotalPages == 2)
                            {
                                <a asp-action="Restaurants" asp-route-page="1">1</a>
                                <a class="active">2</a>
                            }
                        }
                    }
                }
                else
                {
                    if (Model.PageModel.PageNumber == Model.PageModel.TotalPages - 1)
                    {
                        <a asp-action="Restaurants" asp-route-page="1">1</a>
                        <span>...</span>
                        <a asp-action="Restaurants" asp-route-page="@(Model.PageModel.PageNumber-1)">@(Model.PageModel.PageNumber-1)</a>
                        <a asp-action="Restaurants" asp-route-page="@Model.PageModel.PageNumber">@Model.PageModel.PageNumber</a>
                        <a asp-action="Restaurants" asp-route-page="@Model.PageModel.TotalPages">@Model.PageModel.TotalPages</a>
                    }
                    else
                    {
                        if (Model.PageModel.PageNumber == Model.PageModel.TotalPages)
                        {
                            <a asp-action="Restaurants" asp-route-page="1">1</a>
                            <span>...</span>
                            <a asp-action="Restaurants" asp-route-page="@(Model.PageModel.PageNumber-1)">@(Model.PageModel.PageNumber-1)</a>
                            <a asp-action="Restaurants" asp-route-page="@Model.PageModel.PageNumber">@Model.PageModel.PageNumber</a>
                        }
                        else
                        {
                            <a asp-action="Restaurants" asp-route-page="1">1</a>
                            <span>...</span>
                            <a asp-action="Restaurants" asp-route-page="@(Model.PageModel.PageNumber-1)">@(Model.PageModel.PageNumber-1)</a>
                            <a asp-action="Restaurants" asp-route-page="@Model.PageModel.PageNumber">@Model.PageModel.PageNumber</a>
                            <a asp-action="Restaurants" asp-route-page="@(Model.PageModel.PageNumber+1)">@(Model.PageModel.PageNumber+1)</a>
                            <span>...</span>
                            <a asp-action="Restaurants" asp-route-page="@Model.PageModel.PageNumber">@Model.PageModel.PageNumber</a>
                        }
                    }
                }
            }
        </div>
    </div>
</section>
